<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inmia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="inmia"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inmia">

        <!-- SPLASH: Punto de entrada de la app -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Inmia.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ONBOARDING -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar"/>

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar"/>

        <!-- FORGOT PASSWORD -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar"/>

        <!-- REGISTER -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia.NoActionBar"/>

        <!-- MAIN -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Inmia"/>

    </application>

</manifest>